{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'ibanez/parciais/head.html' %}
<body>
    {% include 'ibanez/parciais/header.html' %}

    {%  if dicionario.id == dicionario.id %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ dicionario.nome }}</h3>
                    <h6 class=""> Melhor 
                        {% if dicionario.estilo == 'acustica' %}
                            violão
                        {% elif dicionario.estilo == 'eletrica' %}
                            guitarra
                        {% else %}
                            Baixo
                        {% endif %}
                         do Mercado</h6>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="white-box text-center"><img src="../../../imagens/{{ dicionario.foto }}" class="img-fluid"></div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6">
                            <h4 class="box-title mt-5">Descrição do Produto</h4>
                            <p>{{ dicionario.descricao }}</p>
                            <h2 class="mt-5">
                                ${{ dicionario.preco }}
                            </h2>
                            <p>{{ dicionario.data_lanc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <!-- specs -->
    {% endif %}
    <!-- other products-->

    {% include 'global/footer.html' %}
    <scritpt type="text/javascript" src="{% static 'ibanez/js/main.js' %}"></script>
</body>
</html>