<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'inicio:home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'fender:home' %}">Fender </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gibson:home' %}">Gibson </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ibanez:home' %}">Ibanez</a>
        </li>
      </ul>
    </div>
  </nav>